<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form id="loginForm">
      <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required class="form-control">
      <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required class="form-control">
      <button type="submit" class="form-control">LOGIN</button>
    </form>
    <p id="mensaje"></p>
  </div>

  <script>
    document.getElementById('loginForm').addEventListener('submit', async (e) => {
      e.preventDefault();
      const correo = document.getElementById('correo').value;
      const contraseña = document.getElementById('contraseña').value;

      try {
        const response = await fetch('/api/usuarios/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ correo, contraseña })
        });

        const data = await response.json();

        if (response.ok) {
          localStorage.setItem('usuario', JSON.stringify(data.usuario));

          const nombreCompleto = `${data.usuario.nombre} ${data.usuario.apellido}`;
          document.getElementById('mensaje').style.color = 'green';
          document.getElementById('mensaje').textContent = `Bienvenido, ${nombreCompleto}`;

          setTimeout(() => {
            if (data.usuario.rol_id === 2) {
              window.location.href = 'admin';
            } else {
              window.location.href = 'home';
            }
          }, 1000);
        } else {
          document.getElementById('mensaje').style.color = 'red';
          document.getElementById('mensaje').textContent = data.mensaje || 'Error al iniciar sesión.';
        }
      } catch (error) {
        document.getElementById('mensaje').style.color = 'red';
        document.getElementById('mensaje').textContent = 'Error en el servidor.';
        console.error(error);
      }
    });
  </script>
</body>

</html>
